body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    height: 100vh;
    background-image: url('/image/header-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-logo-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
}

.header-logo img {
    height: 2rem;
}

.mobile-menu { 
    position: fixed; 
    z-index: 2; 
    left: 50%; 
    top: 0; 
    width: 50%; 
} 

.right-side-nav { 
    display: none; 
    background-color: white;
    position: relative; 
    height: 100vh; 
} 

.menu-btn { 
    width: 2rem; 
    height: 2rem; 
    cursor: pointer; 
    position: relative; 
    left: 80%; 
    top: 5px; 
    transition: 1s; 
} 

.right-side-close-btn { 
    text-align: left; 
} 

.close-btn { 
    width: 2rem; 
    height: 2rem; 
} 

.link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 600;
    padding-right: 20px;
    font-size: 1.6rem;
    transition: 1s;
}

.header-nav-hover {
    color: rgb(16, 201, 195);
    transition: 1s;
}

.header-description {
    padding: 15% 5% 0 65%;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-title {
    font-size: 2.2rem;
    font-weight: 600;
    padding: 2% 0;
    color: white;
}

.header-text {
    font-size: 1.5rem;
    color: white;
    padding: 2% 0 5%;
}

.header-btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(16, 201, 195);
    color: white;
    border: 2px solid rgb(16, 201, 195);
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 2% 5%;
}

.about {
    height: 50vh;
    padding-bottom: 3%;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.95)
}

.about-title {
    padding-top: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.about-text {
    padding: 2% 21%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    color: white;
}

.about img {
    height: 10rem;
}

.info {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(16, 201, 195);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
}

.info-card {
    display: flex;
}

.info-text {
    padding-top: 10%;
}

.info-icon {
    padding-right: 25px;
}

.info-icon img {
    width: 3rem;
}

.gallery {
    /* height: 100vh; */
    padding-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.95);
}

.gallery-container {
    display: grid;
    /* width: 100%; */
    /* max-height: 50vh; */
    grid-template-columns: repeat(4,1fr);
}

.gallery-container img {
    width: 100%;
    height: 100%;
}

.skills-section {
    height: 60vh;
    background-image: url('/image/bg-skills.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: left;
}

.skills-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    /* padding-top: 15%; */
}

.title-bar { 
    display: flex; 
    justify-content: space-between; 
    padding: 2%; 
    color: grey; 
} 

.skill-name { 
    font-family: Roboto-Regular; 
    font-weight: 600; 
} 

.skill-percent { 
    background-color: rgb(234, 234, 234); 
    color: black; 
    font-family: Roboto-Regular; 
    padding: 0.2rem; 
} 

.skillbar { 
    width: 100%; 
    height: 1rem; 
    background-color: grey; 
} 

.left-bar-first { 
    width: 75%; 
    height: 1rem; 
    background-color: rgb(16, 201, 195); 
} 

.left-bar-second { 
    width: 90%; 
    height: 1rem; 
    background-color: rgb(16, 201, 195); 
} 

.left-bar-third { 
    width: 65%; 
    height: 1rem; 
    background-color: rgb(16, 201, 195); 
} 

@media (max-width:768px) {
    .desktop-menu {
        display: none;
    }

    .gallery-container {
        grid-template-columns: repeat(2,1fr);
    }


}

@media (min-width:767px) {
    .mobile-menu {
        display: none;
    }
}